In [1]:
import os
from pathlib import Path
import comtypes.client
import tkinter
import pyautogui as pag
import time
from utils.helper import connect_to_sap2000, get_node_distance, get_lp, click_image, click_image_offset, maximize_window_temporarily, make_icon_finder
from utils.excel_helpers import open_excel, save_excel, insert_empty_column_before, get_cell_value
pag.FAILSAFE = True
pag.PAUSE = 1
time.sleep(1)

In [2]:
from utils.excel_helpers import read_sap_clipboard_and_trim
L = 324
df_trimmed = read_sap_clipboard_and_trim(L)

In [3]:
df_trimmed

   Step  Displacement  Drift (%)  Base shear  A to B  B to C  C to D
0     0      0.000000   0.000000       0.000       1       0       0
1     1      4.857314   1.499171     145.197       0       1       0
2     2      9.857314   3.042381     136.399       0       1       0
3     3     14.857314   4.585591     127.603       0       1       0
4     4     19.857314   6.128801     118.807       0       1       0
5     5     24.857314   7.672010     110.010       0       1       0
6     6     27.463718   8.476456     105.425       0       0       1